HOST=
TELEGRAM_TOKEN=
TELEGRAM_CHAT_ID=
SENDGRID_API_KEY=
SENDGRID_FROM_EMAIL=
SENDGRID_TO_EMAIL=

COINMARKETCAP_API_KEY=
TRADINGVIEW_SESSION_TOKEN=
TRADINGVIEW_SESSION_SIGNATURE=
TRADINGVIEW_DEVICE_TOKEN=